h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: crimson;
}
header p{
    text-align: center;
    font-size: xx-large;
    color: brown;
}
img{
    width: 400px;
    height: 400px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
p{
    font-size: larger;
}
